.App {
  text-align: center;
}
.container {
  padding-top: 1rem;
}

.title {
  position: relative;
}

.title:before {
  position: absolute;
  content: "";
  height: 0.2cm;
  width: 25%;
  bottom: 0.8rem;
  z-index: -1;
  background: #e8e9ed;
}
